.App-ProductManageViewComponent {
    background: transparent;
    height: 150px;
    width: 50%;
    border: 1px solid #cecece;
    padding: 5px;
    margin-bottom: 20px;
}

.App-img-product{
    width: 100%;
    height: 100px;
}