.App-HeaderComponent{
    position: absolute;
    left: 0.00%;
    right: 0.00%;
    top: 0.00%;
    bottom: 91%;
    background: #5F12B6;
    height: 200px;
}

.App-LogoContainer{
    width: 100%;
    text-align: center;
}

.App-LogoImg{
    position: relative;
    margin-top: 100px;
    width: 50px;
    color: white;
}